@import url("https://fonts.googleapis.com/css?family=Ubuntu");

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 100px 0px 30px 760px;
    font-size: 65px;
    border: 2px solid black;
    width: 25%;
}
h1:hover{
    color: white;
    border: 2px solid white;
    background-color: black;
}

hr { 
    margin-left: 25%;
	width:50%; 
	height:3px; 
	background:black;
}

header{
	display: flex;
}
header nav a{
	margin: 30px;
	color: grey;
	text-decoration: none;
	font-size: 14px;
}
/*nav bar*/
.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 52.5%;
    background-color: rgb(0, 0, 92);
    margin-left: 450px;
  }
.navbar:hover{
	background-color: rgb(0, 110, 255);
}
.navbar a:hover{
	color: rgb(0, 0, 92);
	animation: Highlight 2s;
}
.navbar a {
	float: left;
	display: flex;
	text-align: center;
	text-decoration: none;
  }
.logo{
	display: inline-block;
	padding: 20px 30px 0px 30px;
}
.contact-img{
    margin: 30px 0px 30px 480px;
    width: 50%;
    height: 400px;
}
.wrapper{
    max-width: 700px;
    margin: 50px auto;
    background: rgb(27, 61, 172);
    box-sizing: border-box;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.5);
}

h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 50px;
    font-size: 35px;
}

.address{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgb(89, 119, 218);
    margin-bottom: 50px;
}
.inner-address p{
    font-size: 12px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.form-title{
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.input-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.inner-msg{
    width: 100%;
    margin-bottom: 20px;
}

.input > input{
    border: 0;
    width: 260px;
    padding: 10px 20px;
    outline: none;
}
    
.msg > textarea{
    width: 100%;
    border: 0;
    padding: 10px 20px;
    outline: none;
    height: 80px;
}
.btn{
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
}  
.btn:hover{
    background: white;
    color: rgb(27, 61, 172);
}
footer{
    text-align: center;
}